@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.container-margin{
    margin-top: 100px;
    margin-bottom: 100px;
}
.h1font-size{
    font-size: 4rem;
}
.register-button{
    border:1px solid #289BDE;
    color: #289BDE;
    transition: border 0.3s ease;
}
.register-button:hover{
    border:2px solid #289BDE;
    color: #289BDE;
    transform: scale(1, 1);
}
.edu-button{
    background-color: #289BDE;
    color: #fff;
}
.ptext-color{
    color: #289BDE;
}
.readyTojoinbtn{
    background-color:#fff ;
    color: #289BDE;
}
.footer-background{
    background-color: #161616;
}